:root
  --texto: #5A5A5A
  --header-principal: #b20ecf46
  --header-secundario: #ca5ad72f
  --degradado-uno: gradient(#CE9FFC, #7367F0)
  --degradado-dos: gradient(#65799b, #5e2563)
  --degradado-tres: gradient(#7117ea, #ea6060)
  --font: 'Lato', sans-serif

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: var(--font)

